rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == "rodney.hili2005@gmail.com";
    }

    match /pets/{userId} {
      allow read: if isSignedIn() && (request.auth.uid == userId || isAdmin());
      allow create, update, delete: if isSignedIn() && (request.auth.uid == userId || isAdmin());
    }
  }
}
