rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn()
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
    }

    match /users/{userId} {
      allow read: if isSignedIn() && (request.auth.uid == userId || isAdmin());
      allow create: if isSignedIn()
        && request.auth.uid == userId
        && request.resource.data.role == "user";
      allow update: if isSignedIn()
        && (
          isAdmin()
          || (
            request.auth.uid == userId
            && request.resource.data.role == resource.data.role
          )
        );
      allow delete: if isAdmin();
    }

    match /pets/{userId} {
      allow read: if isSignedIn() && (request.auth.uid == userId || isAdmin());
      allow create, update, delete: if isSignedIn() && (request.auth.uid == userId || isAdmin());
    }
  }
}
